@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&display=swap');
  
/* UNIVERSAL CODE APPLIED TO ENTIRE BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif; 
    margin-top: 5px; 
}
 
/* NAVBAR CODE */
.navbar {
    width: 275px;
    height: 100vh;
    padding: 0 12px;
    margin: 0;  
    position: fixed;  
}    
 
/* TWITTER LOGO */
.navbar > .logo > a > img {
    width: 28px;
    height: 28px; 
    margin-left: 50px; 
    display: flex;
    justify-content: center;
    align-self: stretch;
    border: 0 solid black;
    background: none;
    color: rgb(29 155 240); 
    cursor: pointer;
}    

/* NAVBAR CONTENT */
.navbar > .navbar-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 251px;
    height: 402px;
    margin-top: 20px;   
    margin-bottom: 4px;
    font-size: 20px;    
    font-weight: 400;  
    color: #0f1419; 
    cursor: pointer;  
}     
 
.navbar > .navbar-content > .navbar-content-items {
    width: 234px;
    height: 50.250px;
    margin-left: 30px;  
    display: flex; 
    align-items: center; 
    padding: 12px;   
} 

.navbar > .navbar-content > .navbar-content-items:hover {
    background-color: #cccccc;
    border-radius: 25px;  
} 

.nav-text {
    margin-left: 10px; 
}
   
/* TWEET BUTTON */
.navbar > .tweet-button > .blue-tweet-button {
    display: flex;   
    justify-content: center;  
    align-items: center; 
    width: 210px; 
    height: 52px;  
    padding: 0 32px;  
    margin-top: 28px;  
    border: none; 
    border-radius: 25px;  
    background-color: rgb(29 155 240); 
    color: white;
    font-size: 15px; 
    font-weight: 700; 
    cursor: pointer; 
}    
 
/* PROFILE */
 
.navbar > .profile {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 251px;
    height: 64px;
    margin-top: 12px;  
    cursor: pointer; 
} 

.navbar > .profile:hover {
    background-color: #cccccc;
    border-radius: 25px; 
} 

.navbar > .profile > .profile-image > img {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
} 
    
