.sidebar { 
    display: flex; 
    flex-direction: column; 
    position: absolute;   
    left: 980px;
    top: 0px;    
    width: 350px;    
    margin-left: 50px;  
}      
  
.sidebar > .search-button {
    display: flex; 
    align-items: center; 
    width: 348px; 
    height: 42px; 
    margin-left: 20px; 
    margin-bottom: 20px; 
    background-color: rgb(239, 243, 244);
    border: 1px solid color rgb(29, 155, 240);  
}   

.sidebar > .search-button > span {
    width: 10%; 
    color:rgb(29, 155, 240) ; 
}
 
.sidebar > .search-button > input {
    width: 90%;  
    height: 100%;  
    border: none;
}

.sidebar > .search-button > input:focus {
    outline: none; 
}

.sidebar > .trending-now {
    width: 348px;
    height: 500px; 
    font-size: 15px;  
    display: flex;
    flex-direction: column; 
    cursor: pointer;
}

/* TRENDING NOW STORIES */

.sidebar > .trending-now > .trends-for-you {
    width: 348px;
    height: 48px; 
    margin-bottom: 8px; 
    display: flex; 
    align-items: center;
    color: rgb(15, 20, 25);
    font-size: 12px;   
    font-weight: 700;
}   

.sidebar > .trending-now > .trending-stories {
    width: 316px;
    height: 58px;
    padding: 12px 16px; 
}

.sidebar > .trending-now > .trending-stories {
    width: 348px;
    height: 82px; 
    font-size: 15px; 
}

.sidebar > .trending-now > .trending-stories > .headlines {
    width: 280px; 
    height: 16px; 
    display: flex;  
    justify-content: space-between; 
    font-size: 13px;   
    color:rgb(83 100 113) ; 
}

.sidebar > .trending-now > .trending-stories > .main-story {
    width: 316px;
    height: 36px; 
    display: flex; 
    flex-direction: column; 
    margin-top: 5px; 
    font-size: 15px; 
    color: rgb(15, 20, 25);
    font-weight: 700;
}   
 
.sidebar > .trending-now > .trending-stories > .main-story > .sm-font {
    font-size: 10px; 
    margin-top: 5px; 
   color: rgb(83 100 113); 
}   


/* SHOW MORE BUTTON */ 
.sidebar > .trending-now > .show-more > button {
    display: flex;  
    width: 316px; 
    height: 52px;
    padding: 16px;
    border: none;  
    background-color: white; 
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 400; 
}   

/* WHO TO FOLLOW CODE */
/* FIX POSITIONING */
.sidebar > .follow-section {
     position: relative;   
    left: 0px;  
    top: 480px; 
    display: flex; 
    flex-direction: column; 
    width: 348px;
    height: 336px; 
} 

.sidebar > .follow-section > .wtf {
    width: 316px;
    height: 24px;
    padding: 12px 16px;
    font-size: 15px;  
    font-weight: 700;
    color: rgb(15, 20, 25);  
}

.sidebar > .follow-section > .follow-profiles > .profile {
    display: flex;    
    align-items: center;  
    width: 316px; 
    height: 68px;
    padding: 12px 16px; 
    font-size: 15px; 
    margin-top: 30px;
}  

.profile-image {
    margin-right: 10px; 
} 

.sidebar > .follow-section > .follow-profiles > .profile > .profile-image > img {
    width: 48px;
    height: 48px; 
    border-radius: 50%; 
}

.sidebar > .follow-section > .follow-profiles > .profile > .profile-u-and-m {
    display: flex;
    justify-content: space-evenly;  
} 

.sidebar > .follow-section > .follow-profiles > .profile > .profile-u-and-m > .profile-username {
    display: flex;
    flex-direction: column;
    font-size: 15px; 
    margin-right: 15px;
}  

.sidebar > .follow-section > .follow-profiles > .profile > .profile-u-and-m > .profile-more > button {
    width: 77px;
    height: 32px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(15, 20, 25);
    color: rgb(255, 255, 255);
    border-radius: 25px; 
}  

.sidebar > .follow-section > .wtf-show-more > button {
    display: flex;  
    width: 316px; 
    height: 52px;
    padding: 16px;
    border: none;  
    background-color: white; 
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 400; 
} 